# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
terraform.tfvars

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# IDE
.vscode/
.idea/